body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para el header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007a99;
  color: #fff;
  padding: 10px;
}

.header-left h1 {
  margin: 0;
}

.header-right {
  display: flex;
}

main {
  padding: 20px;
}

/* Estilos para la sección de personajes */
#characters-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.character-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
}

.character-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.character-card img:hover {
  transform: rotateY(180deg);
}

/* Estilos para la paginación */
#pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination-button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.active {
  background-color: #ccc;
}

/* Estilos para el footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #337086;
  color: #fff;
  padding: 30px;
  text-align: left;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-right {
  text-align: right;
}

/* Estilos para los botones de género */
.gender-button {
  background-color: #007a99;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  transition: background-color 0.3s ease-in-out;
}

.gender-button:hover {
  background-color: #2c712f;
}

/* Estilos para los botones de paginación */
.pagination-button {
  background-color: #008cba;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
  transition: background-color 0.3s ease-in-out;
}

.pagination-button:hover {
  background-color: #007a99;
}

.pagination-button:first-child:disabled,
.pagination-button:last-child:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilos para el elemento que muestra el total de personajes */
#total-characters {
  margin: 10px;
  font-size: 18px;
  color: #333;
}

/* Estilos para el elemento que muestra información de paginación */
#pagination-info {
  margin: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
}

.view-more-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background-color: #0e760c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-more-button:hover {
  background-color: #0056b3;
}

/* Estilos para el diseño responsive */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  .header-right {
    margin-top: 10px;
  }

  main {
    padding: 10px;
  }

  #characters-container {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .pagination-button {
    padding: 5px 8px;
    font-size: 12px;
    margin: 3px;
  }

  #pagination-info {
    display: block;
  }
}
